<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Employee</title>

</head>
<body>
<h1>Create a Employee:</h1>

<form th:action="@{/createEmployee}" th:object="${employee}" method="post">
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{surname}" />
    <div>
        <label>Department</label>
        <div>
            <div th:if="${departments != null and not #lists.isEmpty(departments)}">
                <select th:field="*{department}">
                    <option th:each="department : ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}">
                    </option>
                </select>
            </div>
            <div th:if="${departments == null or #lists.isEmpty(departments)}">
                No Department were found, please create some first
            </div>
        </div>
    </div>

    <input type="submit" value="Create" />
</form>

<br/>
</body>
</html>

