<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee List</title>

</head>
<body>
<h1>Employee List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Create Time</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each ="employee : ${list}">
        <td th:utext="${employee.id}">...</td>
        <td th:utext="${employee.name}">...</td>
        <td th:utext="${employee.surname}">...</td>
        <td th:utext="${employee.department.departmentName}">...</td>
        <td th:utext="${employee.date}">...</td>
        <td>
            <form th:action="@{/deleteEmployee/{id}(id=${employee.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/updateEmployee/{id}(id=${employee.id})}">
                <button type="submit" >Update</button>
            </form>
        </td>
    </tr>
</table>

<br/>
</body>
</html>