<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update Employee</title>

</head>
<body>
<h1>Update a Employee:</h1>

<form th:action="@{/updateEmployee}" th:object="${employee}" method="POST">
    <input type="hidden" th:field="*{id}" />
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{surname}" />
    <div>
        <label>Department</label>
        <div>
            <div th:if="${departments != null and not #lists.isEmpty(departments)}">
                <select th:field="*{department}">
                    <option th:each="department : ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}">
                    </option>
                </select>
            </div>
            <div th:if="${departments == null or #lists.isEmpty(departments)}">
                No Department were found, please create some first
            </div>
        </div>
    </div>
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>
</body>
</html>